* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* uso linear gradient per impostare il colore di sfondo, a 150px il colore cambia da verde a grigio */
    background: linear-gradient(#009688 0%, #009688 150px, #dbdbd3 150px, #dbdbd3 100%);
}

.container {
    display: flex;
    position: relative;
    width: 1600px;
    max-width: 100%;
    height: calc(100vh - 25px);
    background: white;
}

.container .left {
    position: relative;
    flex: 40%;
    background-color: white;
}

.container .right {
    position: relative;
    flex: 60%;
    background-image: url(img/mine.jpg);
}

/* profilo utente */

.userProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 72px;
    background-color: #eaeaea;
    padding: 10px;
}

.leftProfile {
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
}

.userImage {
    position: relative;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.userImage img {
    width: 100%;
    height: 100%;
}

.userIcons {
    display: flex;
}

.userIcons li {
    list-style-type: none;
    cursor: pointer;
    color: #b1b1b1;
    font-size: 22px;
    margin-right: 20px;
}

/* sezione notifiche */

.notifications {
    position: relative;
    width: 100%;
    height: 82px;
    background-color: #8edafc;
}

.notifications .notificationsContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.notificationsContainer .notificationsIcon {
    position: relative;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #f2fbff;
}

.notificationsContainer .notificationsIcon i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    color: #8edafc;
}

.notificationsInfo p {
    text-decoration: underline;
    cursor: pointer;
    color: #7fa3a2;
}



/* sezione ricerca chat */

.newChat {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 7px;
    width: 100%;
    height: 50px;
    background-color: #fafafa;
}

.newChat div {
    width: 100%;
    display: flex;
}

.newChat div i {
    padding: 10px;
    height: 36px;
    flex: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b7b8b9;
    cursor: pointer;
}

.newChat div input {
    width: 100%;
    outline: none;
    border: none;
    background-color: white;
    padding: 10px;
    height: 36px;
    flex: 80%;
}


/* sezione chat */

.chat {
    position: relative;
    width: 100%;
    height: 82px;
    background-color: white;
}

.chat .chatContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.chatContainer .chatIcon img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.chatInfo p {
    cursor: pointer;
    color: #7fa3a2;
}

/* sezione destra */

.textingImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textingImage div:last-of-type {
    margin-left: 16px;
}

.textingImage div:last-of-type p {
    color: #b1b1b1;
}

/* box messaggi */

.boxMessages {
    position: relative;
    width: 100%;
    height: calc(100% - 144px);
    /* 72 + 72, sezione sopra e sotto */
    padding: 55px 104px;
}

.message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 10px;
}

.message p {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 20px 118px 20px 16px;
    background-color: #d5f9ba;
    border-radius: 10px;
}

.myMessage {
    justify-content: flex-end;
}

.friendMessage {
    justify-content: flex-start;
}

/* sezione ricerca chat */

.newMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 7px;
    width: 100%;
    height: 72px;
    background-color: #fafafa;
}

.newMessage div {
    width: 100%;
    display: flex;
}

.newMessage div i {
    padding: 10px;
    height: 36px;
    flex: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b7b8b9;
    cursor: pointer;
}

.newMessage div input {
    width: 100%;
    outline: none;
    border: none;
    background-color: white;
    padding: 10px;
    height: 36px;
    flex: 90%;
}